// Em main.scss ou all.scss
@use './sass/partials/variables' as *;
@use './sass/partials/header' as *;
@use './sass/partials/contact' as *;
@use './sass/partials/banner' as *;
@use './sass/partials/trips' as *;
@use './sass/partials/vantagens' as *;
@use './sass/partials/about' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  // Altere para Poppins para todo o site
}

body {
    background-color: #f8f8f8;
    color: #333;
}

/* ------------------------------- GLOBAL - TÍTULOS ------------------------------- */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; // Peso para maior destaque nos títulos
    font-size: 4.3rem; // Tamanho padrão de fonte para h1
    color: #000;
    margin-bottom: 20px;
}

h1 + p {
    margin-top: 0; // Ajuste de margem para o parágrafo que segue o h1
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #f8f8f8;
    gap: 50px;
    flex-wrap: wrap;
}

/* Coluna 1 - Texto */
.coluna-1 {
    flex: 1;
    max-width: 600px;  // Limite de largura para o texto
    padding-right: 20px;  // Espaçamento à direita da coluna
}

.coluna-1{
    font-size: 3.5rem;
    margin-bottom: 10px;
    line-height: 1.2;
}

.coluna-1 p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}


/* ------------------------------- RESPONSIVIDADE ------------------------------- */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .destinos-container {
        flex-direction: column;
    }

    .container-sessao3 {
        flex-direction: column;
        text-align: center;
    }

    .imagem-sessao3 {
        margin-bottom: 20px;
    }

    .texto-sessao3 {
        margin-right: 0;
    }

    .botao-contato {
        width: 100%;
        margin-top: 20px;
    }
}
