
/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;

    .logo img {
        width: 50px;
    }

    nav {
        display: flex;
        gap: 20px;

        ul{
            list-style-type: none;
        }

        li{
            display: inline;
            padding: 30px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: large;
            padding: 40px;
        }
    }
    
}
